.d-flex > .btn {
  flex: 1;
}

.carbonads {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  overflow: hidden;
  padding: 1rem;
}

.carbon-wrap {
  overflow: hidden;
}

.carbon-img {
  clear: left;
  display: block;
  float: left;
}

.carbon-text,
.carbon-poweredby {
  display: block;
  margin-left: 140px;
}

.carbon-text,
.carbon-text:hover,
.carbon-text:focus {
  color: #fff;
  text-decoration: none;
}

.carbon-poweredby,
.carbon-poweredby:hover,
.carbon-poweredby:focus {
  color: #ddd;
  text-decoration: none;
}

@media (min-width: 768px) {
  .carbonads {
    float: right;
    margin-bottom: -1rem;
    margin-top: -1rem;
    max-width: 360px;
  }
}

.footer {
  font-size: 0.875rem;
}

.heart {
  color: #ddd;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.heart:hover {
  color: #ff4136;
}

.heart::before {
  border-top: 1px solid #eee;
  content: " ";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.heart::after {
  background-color: #fff;
  content: "♥";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 1;
}

.docs-datepicker-container {
  border: 1px dashed #eee;
  display: none;
  margin: 10px auto;
  min-height: 160px;
  position: relative;
}

.docs-datepicker-container::before {
  color: #ccc;
  content: "Container for inline datepicker";
  font-size: 12px;
  left: 50%;
  line-height: 20px;
  margin-left: -82px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  z-index: 1051;
}

.docs-datepicker-container > .datepicker-container {
  margin: 10px auto;
}

.docs-options > .input-group {
  margin-bottom: 10px;
}

.docs-options > .input-group .input-group-text {
  justify-content: center;
  min-width: 6rem;
}

.docs-actions > .input-group,
.docs-actions > .btn-group,
.docs-actions > .btn {
  margin-bottom: 10px;
}
